@import 'colors';
@import 'media-queries';

%aling-center {
    display: flex;
    align-items: center;
}

%center {
    display: flex;
    align-items: center;
    justify-content: center;
}


.planes{
    @extend %center;

        @include tablet {
            width: 100%;
            margin-bottom: 40%;
            flex-direction: column;
            padding: 24px;
        }
        @include mobile{
            margin-bottom: 120px!important;
        }

    &_container{
        @extend %center;
        flex-direction: column;
        padding: 24px;
        gap: 70px;

        @include tablet{
            gap: 50px;
            padding: 0;
            width: 100%;
            text-align: center;
        }
        

        .first{
            text-align: right;
        }


        strong{
            color: $lime;
        }

        &-card{
            @extend %center;

            @include tablet{
                flex-direction: column;
                width: 80%;
            }
            @include mobile{
                width: 100%;
                text-align: right!important;
            }

            .card{
                -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.52);
                box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.52);

                .card-header {
                        border-bottom: 1px solid $lime;
                    }
            }

            .btn {
                background-color: $lime;
                color: $light;
            }
        }
    }
}